<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Template</title>
    <style>
      /* Basic styles for demonstration */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
      }
      .content {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Portfolio of {{NAME}}</h1>
      <img src="{{IMAGE_PATH1}}" height="300px" width="300px" alt="Uploaded Image">
      <img src="{{IMAGE_PATH2}}" height="300px" width="300px" alt="Uploaded Image1">
      
    </header>
    <div class="container">
      <div class="content">
        <p>
          This is a basic portfolio template. Replace this content with your
          own.
        </p>
      </div>
    </div>
  </body>
</html>
