* {
    margin: 0;
    padding: 0;
    
  }
  

  /* Navbar */
  .nav {
    height: 4rem;
    width: 100%;
    background-color:f3faf7;
    color: #00482E;
    font-size: 26px;
    align-items: center;
    position: sticky;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  .nav-link{
    font-weight: 600; 
    font-size : 18px;
    font-family : roboto sans-serif;
    text-decoration: none; /* Remove default underline */
    position: relative;
  }

  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #007B5F;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

/* -----------------------------------------   */


  input,textarea, select {
    border: 1px solid #000000;
    width: 200px;
  }
  
  .full-body {
    padding-top: 10px;
    height: calc(100vh - 80px);
    overflow: scroll;
    background-image:url( '../image/Bg-grassroot.jpg');
  }
  

label{
    align-self: flex-start;
}


input, select{
    height: 30px;
}

.box{
    gap: 4;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.box h1{
    text-align: center;
    font-size: 22px;
    padding-bottom: 4px;
    font-family: roboto sans-serif
}

